In [2]:
import numpy as np
import pandas as pd

In [6]:
train_data = pd.read_csv('data/train.csv')
test_data = pd.read_csv('data/test.csv')

In [5]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
women = train_data[train_data.Sex == 'female']['Survived']
rate_women = sum(women) / len(women)
print(rate_women)

0.7420382165605095

In [9]:
men = train_data[train_data.Sex == 'male']['Survived']
rate_men = sum(men) / len(men)
print(rate_men)

0.18890814558058924

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
y = train_data['Survived']

In [17]:
features1 = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features1])
X_test = pd.get_dummies(test_data[features1])

In [19]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)

In [20]:
model.fit(X, y)

RandomForestClassifier(max_depth=5, random_state=1)

In [22]:
test_predications = model.predict(X_test)

In [30]:
res = pd.DataFrame({'id': test_data.PassengerId, 'prediction': predications})

In [34]:
train_predictions = model.predict(X)

In [43]:
train_res = pd.DataFrame({'id': train_data.PassengerId, 'prediction': train_predictions, 'actual': train_data.Survived})
train_success_ratio = (train_res['prediction'] == train_res['actual']).sum() / len(train_res)
print(train_success_ratio)

0.8159371492704826